---
layout: printing.njk
styles:
  - /assets/styles/certificates.css
pagination:
  data: awards[0].awards
  size: 1
  alias: award
permalink: '/anniversary/2024/certificate/{{ award.category.title | slugify }}/'
eleventyComputed:
  title: "{{ award.category.title }} - Sanctum Awards 2024"
---
{% include "ui/certificate.njk" %}