<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }}</title>
    <link rel="stylesheet" href="/assets/styles/print.css">
    {% for style in styles %}
      <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>