<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }}</title>
    {% include "meta/stylesheets.njk" %}
  </head>
  <body>
    <main class="slide-container">
      <article class="slide slide--cover">
        {% include "ui/title-card.njk" %}
        <h2 class="title">{{ title }}</h2>
      </article>
      {% for item in questions %}
        <article class="slide" aria-label="Question {{ loop.index }}">
          <div class="question">
            {{ item.question | markdown | safe }}
          </div>
          <div class="choices">
            {% for option in item.choices %}
              <button data-status="{{ option.isCorrect if option.isCorrect else false }}">
                {{ option.text | safe }}
              </button>
            {% endfor %}
          </div>
        </article>
      {% endfor %}
    </main>
  </body>
</html>