$bg-colors: primary, secondary, accent, exception;

.bg {
  @each $color in $bg-colors {
    &--#{$color} {
      background-color: hsl(var(--bg-#{$color}));
    }

    @media (prefers-color-scheme: dark) {
      &-d--#{$color} {
        background-color: hsl(var(--bg-#{$color}));
      }
    }

    @media (prefers-color-scheme: light) {
      &-l--#{$color} {
        background-color: hsl(var(--bg-#{$color}));
      }
    }
  }
}

$fg-colors: contrast, default, subtle, non-essential;

.fg {
  @each $color in $fg-colors {
    &-#{$color}
    &--#{$color} {
      color: hsl(var(--fg-#{$color}));
    }

    @media (prefers-color-scheme: dark) {
      &-d-#{$color}
      &-d--#{$color} {
        color: hsl(var(--fg-#{$color}));
      }
    }

    @media (prefers-color-scheme: light) {
      &-l-#{$color}
      &-l--#{$color} {
        color: hsl(var(--fg-#{$color}));
      }
    }
  }
}

$intensities: 100, 300, 500, 700, 900;
$colors: primary, secondary, warning, error, success;

.fg {
  @each $intensity in $intensities {
    @each $color in $colors {
      &-#{$color}-#{$intensity} {
        color: hsl(var(--#{$color}-#{$intensity}));
      }
    }
  }
}

.bg {
  @each $intensity in $intensities {
    @each $color in $colors {
      &-#{$color}-#{$intensity} {
        background-color: hsl(var(--#{$color}-#{$intensity}));
      }
    }
  }
}