::selection {
  background-color: hsl(var(--primary-100));
}

/* #region CASES */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* #endregion */

/* #region ALIGNMENT */
$alignments: left,
right,
center,
justify,
start,
end;

.text {
  @each $a in $alignments {
    &-#{$a} {
      text-align: $a;
    }
  }
}

/* #endregion */

/* #region WEIGHTS */
$weights: 100,
200,
300,
400,
500,
600,
700,
800,
900;

.weight {
  @each $weight in $weights {
    &-#{$weight} {
      font-weight            : $weight;
      font-variation-settings: 'wght'$weight;
    }
  }

  .weight-bold {
    font-weight: bold;
  }

  .weight-normal {
    font-weight: normal;
  }
}

/* #endregion */

/* #region LETTER SPACING */
$letter-spacing: (xs : 0.5px,
  s : 0.75px,
  m : 1px,
  l : 1.5px,
  xxl : 2px,
  xxxl: 3px,
);

.ls {

  @each $key,
  $value in $letter-spacing {
    &-#{$key} {
      letter-spacing: $value;
    }
  }
}

/* #endregion */

/* #region FONT FAMILIES */
.font-display {
  font-family: var(--font-display);
}

.font-sans {
  font-family: var(--font-sans);
}

/* #endregion */

/* #region FONT SIZES */
@for $size from 1 through 9 {
  .fs-#{$size} {
    font-size: var(--type-size-#{$size});

    @if $size>7 {
      line-height: 1;
    }
  }

  .fs-#{$size}.responsive {
    font-size: clamp(var(--type-size-#{$size + 1}), #{10 - $size}vw, var(--type-size-#{$size}));
  }
}

/* #endregion */

/* #region LINE HEIGHTS */
$line-heights: (xxxs: 0.5,
  xxs : 0.75,
  xs : 0.8,
  s : 1,
  m : 1.25,
  l : 1.5,
  xl : 1.75,
  xxl : 2,
  xxxl: 3,
);

.lh {

  @each $key,
  $value in $line-heights {
    &-#{$key} {
      line-height: $value;
    }
  }
}

/* #endregion */

.quotation {
  --border         : 3px solid hsl(var(--primary-100));
  border-inline-end: var(--border);
  padding          : var(--space);
  margin           : 0;
  text-align       : end;

  blockquote,
  &:is(blockquote) {
    -moz-hyphens   : auto;
    -ms-hyphens    : auto;
    -o-hyphens     : auto;
    -webkit-hyphens: auto;
    font-family    : var(--font-serif);
    font-size      : clamp(1.75rem, 10vw, 2rem);
    font-weight    : 350;
    hyphens        : auto;
    line-height    : 1.2;
    margin         : var(--space);

    p {
      text-align: inherit;
    }
  }

  cite,
  address {
    font-style: normal;
    display   : inline-block;
  }

  figcaption {
    font-family: var(--font-sans);
  }

  figcaption::before {
    content: "— ";
  }

  &.quotation--small {
    border: 0;

    margin-inline: auto;
    text-align   : start;
    width        : 80%;

    &:not(.quotation--unfloated) {
      grid-column: 2/3;
    }

    blockquote {
      font-size              : 1em;
      font-variation-settings: 'wght'350, 'SOFT'550, 'WONK'0;

      i,
      em,
      cite {
        font-family: var(--font-sans);
      }
    }

    figcaption {
      text-align: end;
    }
  }

  @media(min-width: 75ch) {
    &:is(.left, .right) {
      border: none
    }

    &.right {
      border-right: var(--border);
    }

    &.left {
      border-left: var(--border);
    }
  }
}

@media(min-width: 75ch) {
  :is(.left, .right) {
    width: min(100%, 20ch);

    p {
      font-size: 0.75em;
      margin   : 0;
    }
  }

  .right {
    float       : right;
    text-align  : end;
    margin-right: 0;
  }

  .left {
    float      : left;
    text-align : start;
    margin-left: 0;
  }
}

.footnotes {
  margin-top         : var(--space-xxl);
  font-size          : 0.9rem;
  background-image   : linear-gradient(hsl(var(--fg-default)), hsl(var(--fg-default)));
  background-repeat  : no-repeat;
  background-size    : 35ch 1px;
  background-position: top left;
  padding-top        : var(--space);
  font-family        : var(--font-sans);
}

.footnote {

  &--reference,
  &--source {
    font-size  : var(--type-size-7);
    font-family: var(--font-sans);
  }
}

$fonts: sans,
serif,
display,
display-serif,
body;

.font {
  @each $font in $fonts {
    &-#{$font} {
      font-family: var(--font-#{$font});
    }
  }
}

.multi-column {
  columns: 2 35ch;
}

.highlighted {
  background-image   : linear-gradient(hsl(var(--secondary-500)), hsl(var(--secondary-500)));
  background-size    : 100% 0.5ch;
  background-repeat  : no-repeat;
  background-position: bottom center;
}

dl:is(.grid, .stacked) {
  dt {
    font-weight            : bold;
    font-variation-settings: 'wght'600;
  }
}

dl.grid {
  font-family: var(--font-sans);
  column-gap : 0.5ch;

  @media (min-width: 490px) {
    display              : grid;
    grid-template-columns: 1fr 3fr;
  }

  dt {
    grid-column: 1/2;

    &::after {
      @media (min-width: 490px) {
        content: ":";
      }
    }
  }

  dd {
    grid-column: 2/-1;

    &+dt,
    &+dt+dd {
      margin-top: 1ch;
    }
  }
}

dl.stacked {
  font-family   : var(--font-sans);
  display       : flex;
  flex-direction: column;

  dd+dt {
    margin-top: 1ch;
  }

  dd {
    margin : 0;
    padding: 0;
  }
}

hgroup {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

q[lang] {
  font-style: italic;
}

hr {
  background-image   : url("data:image/svg+xml,%3Csvg width='408' height='23' viewBox='0 0 408 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M178.484 11.5L203.984 2L229.484 11.5L203.984 21L178.484 11.5Z' fill='black'/%3E%3Cpath d='M0.314453 12.122H150.044L156.264 5.9024L162.484 12.122L157.508 17.0976L154.398 13.9878M407.653 12.122H257.923L251.703 5.9024L245.484 12.122L250.459 17.0976L253.569 13.9878M178.484 11.5L203.984 2L229.484 11.5L203.984 21L178.484 11.5Z' stroke='black' stroke-width='2.48782'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : contain;
  border             : 0;
  display            : block;
  height             : 1ch;
  padding-block      : var(--space-xxl);
  width              : 20ch;

  @at-root {
    .dark & {
      filter: invert(1)
    }

    @media (prefers-color-scheme: dark) {

      .default &,
      .system & {
        filter: invert(1)
      }
    }
  }
}

mark.mark {
  background-color: hsl(var(--success-100));
  color           : hsl(var(--fg-contrast));
  padding-inline  : 0.25ch;
}