---
title: Homepage
permalink: /
---

<h1>Sanctum Quiz Night</h1>

<form name="registration">
  <div class="input-field">
    <label for="username">Username</label>
    <input type="text" required name="username" id="username">
  </div>

  <button class="primary button">Join</button>
  <output name="output"></output>
</form>

<script>
  const registration = document.forms['registration']
  const output = registration.elements['output']

  registration.addEventListener('submit', async event => {
    event.preventDefault()
    const username = registration['username'].value
    const result = await registerPlayer(username).catch(error => {
      console.log('[ERROR]', error)
      output.value = error
    });

    console.log(result)

    if (!result.ok) {
      output.value = 'Something went wrong'
    } else {
      localStorage.setItem('sanctum_player_id', result.player.id)
      window.location.replace('/join')
    }
  })
</script>