<article class="certificate">
  <header>
    <p>
      <span>Iginagawad ng</span><br>
      {% include "ui/logo.njk" %}<br>
      <span>ang pagkilalang</span><br>
    </p>
    <hgroup>
      {% if award.category.prefix %}
        <p class="affix">{{ award.category.prefix }}</p>
      {% endif %}
      <h1 class="{{ 'enlarge' if award.category.title.length < 20 }}{{ 'reduce' if award.category.title.length > 30 }}">{{ award.category.title }}</h1>
      {% if award.category.suffix %}
        <p class="affix suffix">{{ award.category.suffix }}</p>
      {% endif %}
    </hgroup>
  </header>
  <p>
    <span>
      {{ "sa" if award.category.entityType === 'concept' else "kay" }}
    </span><br>
    <span class="winner{{ ' reduce' if award.winner.length > 15 }}">{{ award.winner }}</span><br>
    <span>{{ award.category.description }}</span><br>
    <span>Iginawad ngayong ika-14 ng Hulyo, 2024 sa Metro Manila, Philippines</span><br>
  </p>
  <footer>
    <dl>
      {% for admin in awards[0].admins %}
        <div class="admin" data-signature="{{ admin.name }}">
          <dt>{{ admin.name }}</dt>
          <dd>{{ admin.role }}</dd>
        </div>
      {% endfor %}
    </dl>
  </footer>
</article>