@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

:root {
  --primary-color: #0037a3;
}

body {
  background-image   : url("/assets/images/crown.png"), radial-gradient(circle at top center, #739AFF, #0047FF);
  background-position: top center;
  background-repeat  : no-repeat;
  background-size    : 10rem, cover;
  margin             : 0;
  min-height         : 100vh;
  padding            : 1rem;
  color              : white;
  padding-block-start: 10rem;
  font-family        : 'BBC Reith Sans', sans-serif;
}

h1 {
  align-items: center;
  display    : flex;
  font-family: "Bowlby One SC", sans-serif;
  font-size  : 4rem;
  font-style : normal;
  font-weight: 400;
  gap        : 3rem;
  margin     : 0;
  text-align : center;
}

h1 span {
  background-image: linear-gradient(to bottom, #FFE175, #FFC194);
  color           : transparent;
  background-clip : text;
  filter          : drop-shadow(0 3px 0 #FF4A4A) drop-shadow(0 3px 0 #D73333) drop-shadow(0 2px 0 #CA3F3F) drop-shadow(0 5px 0 #0041BF) drop-shadow(0 -5px 0 #0041BF) drop-shadow(5px 0 0 #0041BF) drop-shadow(-5px 0 0 #0041BF) drop-shadow(0 5px 0 #fff) drop-shadow(0 -5px 0 #fff) drop-shadow(5px 0 0 #fff) drop-shadow(-5px 0 0 #fff) drop-shadow(0 3px 6px #0005);
}

h1::before,
h1::after {
  aspect-ratio     : 1/1;
  background-image : url('/assets/images/flaglets.png');
  background-repeat: no-repeat;
  background-size  : cover;
  content          : '';
  display          : block;
  height           : auto;
  width            : 6rem;
}

main {
  display: grid;
}

header {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.logo {
  border        : 2px solid var(--primary-color);
  color         : var(--primary-color);
  display       : flex;
  font-family   : "BBC Reith Sans XBold", sans-serif;
  font-weight   : 900;
  text-transform: uppercase;
  width         : fit-content;
}

.logo>* {
  align-items: center;
  display    : flex;
  padding    : 0.5ch;
}

.icon svg {
  aspect-ratio: 1/1;
  width       : auto;
  height      : 1rem;
}

.logo .type {
  font-size       : 1rem;
  font-weight     : 900;
  color           : white;
  background-color: var(--primary-color);
  line-height     : 1;
  align-items     : center;
}

.logo .type span {
  position: relative;
  bottom  : -0.2ch;
}

form[name="player-add"] {
  align-items          : center;
  display              : grid;
  gap                  : 1rem;
  grid-template-columns: repeat(3, auto);
  margin               : auto;
  padding              : 5ch;
  width                : fit-content;
}

form[name="player-add"] h2 {
  grid-column: 1/-1;
  margin     : 0;
  line-height: 1;
  text-align : center;
}

input[type="text"] {
  border       : none;
  border-radius: 5px;
  padding      : 0.5ch 1ch;
}

button {
  background-color: #ffce87;
  border          : none;
  border-radius   : 5px;
  box-shadow      : 0 2px 4px #0003;
  cursor          : pointer;
  font-size       : inherit;
  font-weight     : bold;
  padding         : 0.5ch 2ch;
}

table {
  width           : min(90%, 75ch);
  margin          : auto;
  background-color: #fff1;
  border-radius   : 16px;
  border-collapse : collapse;
  overflow        : hidden;
}

thead {
  background-color: #0003;
}

th,
td {
  padding   : 0.5ch 1ch;
  text-align: center;
}

thead th {
  text-transform: uppercase;
  font-family   : 'BBC Reith Sans XBold';
}

tbody tr:nth-child(2n) {
  background-color: #fff1;
}

#ui_winners li::marker {
  color: transparent;
}

#ui_winners {
  margin       : 0;
  padding      : 0;
  width        : min(75%, 100ch);
  margin-inline: auto;
}

#ui_winners li {
  display         : flex;
  gap             : 1rem;
  align-items     : center;
  background-image: radial-gradient(ellipse at center, #FFE175, #FFC194);
  border-radius   : 1000px;
  padding-inline  : 3ch;
  padding-block   : 0.3ch;
  box-shadow      : 0 0 8px rgba(0, 0, 0, .3333333333), 0 0 0 16px #fff, 0 0 24px rgba(0, 0, 0, .3333333333);
  margin-block    : 3rem;
  font-family     : 'Bowlby One SC', sans-serif;
  text-transform  : uppercase;
}

.ribbon {
  height      : 8rem;
  width       : auto;
  margin-block: -2rem;
}

.prize,
.winner,
.score {
  background-image: linear-gradient(to bottom, #FF4A4A, #b40001AA);
  color           : transparent;
  background-clip : text;
}

.prize {
  font-size: 3rem;
}

.winner {
  display: grid;
}

.winner-name {
  font-size: 2rem;
}

.score {
  margin-inline-start: auto;
  font-size          : 1.5rem;
}

.app {
  display              : grid;
  grid-template-columns: 2fr 1fr;
}

.sidebar iframe {
  border-radius     : 1rem;
  height            : 90vh;
  margin-block-start: 1rem;
  position          : sticky;
  top               : 1rem;
  width             : 100%;
}